﻿
@section scripts {

    <environment include="Development">
        <script src="~/js/bundles/Boletos/CreateEdit.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/bundles/Boletos/CreateEdit.min.js" asp-append-version="true"></script>
    </environment>
}

@*
    <form class="row form-default">

        <div class="col">
            <h2 class="font-light">Edição de template</h2>

            <div class="row m-t-30">
                <div class="col">
                    <div class="form-group">
                        <label for="Assunto">Assunto</label>
                        <input type="text" class="form-control form-control-lg" id="Assunto" placeholder="Assunto do email" required>
                    </div>
                    <div class="form-group">
                        <label for="Mensagem">Mensagem</label>
                        <textarea name="Mensagem" id="Mensagem" class="form-control" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <footer class="col-12">
            <button type="submit" class="btn btn-success">
                Salvar
                <i class="fas fa-save"></i>
            </button>
        </footer>

    </form>*@