@model HappyMeet.Models.BoletoViewModel
@{
    ViewData["Title"] = "Boletos";
}
@using X.PagedList.Mvc.Core;
@section scripts {
    <environment include="Development">
        <script src="~/lib/stickykit/stickykit.js"></script>
        <script src="~/js/bundles/Boletos/Index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/bundles/Boletos/Index.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        var sendEmailUrl    = '@Url.Action("EnviarEmail")';
        var downloadUrl     = '@Url.Action("DownloadArquivos")';
        var searchUrl       = '@Url.Action("Index", "Boletos")';
    </script>
}
<div class="boletos-background-fix"></div>
<div class="row boletos-header" id="boletos-header">
    <div class="col-12">

        @if (Model.Boletos.Any() && (User.IsInRole(RoleConstants.ADMIN) || User.IsInRole(RoleConstants.SUPER_USER)) && Model.Boletos.Max(x => x.DtIntegracao) > DateTime.MinValue)
        {
            <div class="ultima-atualizacao">
                <span>Última atualização: @Model.Boletos.Max(x => x.DtIntegracao).ToClientDateString("dd/MM/yyyy HH:mm") hs</span>
            </div>
        }
        <div id="balanco" class="boletos-balanco">
            <div>
                <span class="main-label geral">Total Geral</span>
                <div class="valor">
                    <span class="money">R$</span>
                    <span data-mask="#.##0,00" data-mask-reverse="true">@Model.TotalGeral</span>
                </div>
            </div>
            <div>
                <span class="main-label hoje">Vencendo Hoje</span>
                <div class="valor">
                    <span class="money">R$</span>
                    <span data-mask="#.##0,00" data-mask-reverse="true">@Model.TotalHoje</span>
                </div>
            </div>
            <div id="atraso">
                <span class="main-label atraso">Em atraso</span>
                <div class="valor">
                    <span class="money">R$</span>
                    <span class="js-total-atraso" data-mask="#.##0,00" data-mask-reverse="true">@Model.TotalAtraso</span>
                </div>
            </div>
            <button disabled class="primary-bg js-toggle-lista" title="Baixar Boletos" id="bt-download">
                <i class="fas fa-download"></i>
            </button>
            <button disabled class="primary-bg js-toggle-lista" title="Enviar para um email" id="bt-emails" data-toggle="modal" data-target="#modalEmails">
                <i class="far fa-envelope"></i>
            </button>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <h2 class="font-light list-inline-item">Boletos</h2>
                <div class="dropdown dropdown-toggle-filtros list-inline-item t-y-m4">
                    <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filtrar
                    </button>
                    <div class="dropdown-menu dropdown-filtros-menu" aria-labelledby="dropdownMenuButton">
                        <form>
                            <div class="form-group">
                                <label for="CNPJ">CNPJ:</label>
                                <input name="searchCnpj" type="text" class="form-control form-control-sm" id="CNPJ" placeholder="CNPJ" data-mask="00.000.000/0000-00" data-mask-reverse="true">
                            </div>
                            <div class="form-group">
                                <label for="Nome">Nome:</label>
                                <input name="searchNome" type="text" class="form-control form-control-sm" id="Nome" placeholder="Nome">
                            </div>
                            <div class="form-group">
                                <label for="NotaFiscal">Nota Fiscal:</label>
                                <input name="searchNf" type="text" class="form-control form-control-sm" id="NotaFiscal" placeholder="Número da nota">
                            </div>
                            <div class="form-group">
                                <label for="NumeroDocumento">Nº Documento</label>
                                <input name="searchNumDocum" type="text" class="form-control form-control-sm" id="NumeroDocumento" placeholder="Número do documento">
                            </div>
                            <div class="form-group">
                                <label for="Emissao">Emissão</label>
                                <div class="with-icon">
                                    <input type="text" class="form-control form-control-sm" id="Emissao" placeholder="Emissão">
                                    <input type="hidden" name="searchEmissaoIni" id="searchEmissaoIni">
                                    <input type="hidden" name="searchEmissaoFim" id="searchEmissaoFim">
                                    <i class="far fa-calendar"></i>
                                    <i class="fas fa-times js-clear js-clear-datepicker"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Vencimento">Vencimento</label>
                                <div class="with-icon">
                                    <input type="text" class="form-control form-control-sm date-picker-ranged" id="Vencimento" placeholder="Vencimento da fatura">
                                    <input type="hidden" name="searchVencimentoIni" id="searchVencimentoIni">
                                    <input type="hidden" name="searchVencimentoFim" id="searchVencimentoFim">
                                    <i class="far fa-calendar"></i>
                                    <i class="fas fa-times js-clear js-clear-datepicker"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Valor">Valor</label>
                                <input name="searchValor" type="text" class="form-control form-control-sm" id="Valor" placeholder="Valor" data-mask="#.##0,00" data-mask-reverse="true">
                            </div>
                            <div class="button-submit">
                                <button type="submit" class="btn btn-primary btn-sm btn-block primary-bg">Filtrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6 text-right">
                <div id="boletos-details" class="hidden boletos-details">
                    <small><span class="js-qtd-boletos"></span> boleto(s) selecionados</small> <br>
                    <h6 class="m-b-0">
                        Total:
                        <span class="money">R$</span>
                        <span class="js-total" data-mask="#.##0,00" data-mask-reverse="true">0</span> –
                        Acréscimos:
                        <span class="money">R$</span>
                        <span class="js-acrescimos" data-mask="#.##0,00" data-mask-reverse="true">0</span>  –
                        Total atualizado:
                        <span class="money">R$</span>
                        <span class="js-total-atualizado" data-mask="#.##0,00" data-mask-reverse="true">0</span>
                    </h6>
                </div>
            </div>
        </div>
        <div class="table-responsive m-t-15">
            <table class="table table-striped table-hover table-lista table-lista-large table-boletos m-b-0">
                <thead class="thead-dark js-ajax-table-header">
                    <tr>
                        <th class="text-center checkbox-column">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                            </div>
                        </th>
                        <th style="width:24.4%" data-sort="NomePagador">Empresa/CNPJ</th>
                        <th style="width:9.8%" data-sort="NotaFiscal">Nota Fiscal</th>
                        <th style="width:12%" data-sort="NumDocumento">Nº Documento</th>
                        <th style="width:11%" data-sort="DtEmissao" class="text-right">Emissão</th>
                        <th style="width:11%" data-sort="DtVencimento" class="text-right" data-defaultsort="ascending">Vencimento</th>
                        <th style="width:14%" data-sort="Valor" class="text-right">Valor</th>
                        <th class="text-right" data-sort="ValorAtualizado">Valor atualizado</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="row" id="boletos-content">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-lista table-lista-large table-boletos js-ajax-table" id="lista-boletos">
                <tbody>
                    @for (var i = 0; i < Model.Boletos.Length; i++)
                    {
                        <tr>
                            <td class="text-center align-middle checkbox-column">
                                <div class="custom-control custom-checkbox gray-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck_@(i)" data-boleto="@Model.Boletos[i].Id">
                                    <label class="custom-control-label" for="customCheck_@(i)">&nbsp;</label>
                                </div>
                            </td>
                            <td style="width:24.4%">
                                <strong>@Model.Boletos[i].NomePagador</strong> <br>
                                <small>
                                    <span data-mask="00.000.000/0000-00" data-mask-reverse="true">@Model.Boletos[i].CpfCnpjPagador</span>
                                </small>
                            </td>
                            <td class="align-middle" style="width:9.8%">@Model.Boletos[i].NotaFiscal</td>
                            <td class="align-middle" style="width:12%">@Model.Boletos[i].NumDocumento</td>
                            <td class="text-right align-middle" style="width:11%">@Model.Boletos[i].DtEmissao.ToShortDateString()</td>
                            <td class="text-right align-middle" style="width:11%">@Model.Boletos[i].DtVencimento.ToShortDateString()</td>
                            <td class="text-right align-middle valor" style="width:14%">
                                <span class="money">R$</span>
                                <span class="js-valor">@Model.Boletos[i].Valor.ToString("N2")</span>
                            </td>
                            <td class="text-right align-middle valor">
                                <span class="money">R$</span>
                                <span class="js-valor-atualizado">@Model.Boletos[i].ValorAtualizado.ToString("N2")</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <nav id="pagination">
            @Html.PagedListPager(Model.BoletosPaged, page => Url.Action("Index", new { pagina = page }), new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 10 })
        </nav>
    </div>
</div>

<div class="modal fade" id="modalEmails" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header primary-bg">
                <h5 class="modal-title c-white">Enviar boletos por email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group m-b-0">
                        <label for="Emails">Emails:</label>
                        @Html.AntiForgeryToken()
                        <select asp-for="Emails" asp-items="@(new SelectList(Model.Emails ?? new List<String>()))" placeholder="Emails" class="form-control selectize-email"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="container-fluid p-l-0 p-r-0">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                        <div class="col-6 text-right">
                            <button type="button" id="bt-send" class="btn btn-primary primary-bg">
                                Enviar
                                <i class="fab fa-telegram-plane"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("_OrderTemplatePartial");}