﻿@model HappyMeet.Models.BancoViewModel;
@using HappyMeet.Domain.Enums;

@{
    ViewData["Title"] = "Cadastro de Banco";
}

@section scripts {
    <environment include="Development">
        <script src="~/js/bundles/Banco/CreateEdit.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/bundles/Banco/CreateEdit.min.js" asp-append-version="true"></script>
    </environment>
}

<form asp-action="CreateEdit" method="post" enctype="multipart/form-data" class="row form-default">
    <input asp-for="Id" type="hidden">
    <div class="col">
        <h2 class="font-light">Cadastro de Banco</h2>
        <div asp-validation-summary="ModelOnly"></div>

        <div class="row m-t-30">
            <div class="col-3">
                <div class="form-group">
                    <label for="Codigo">Código do Banco</label>
                    <input asp-for="Codigo" class="form-control" placeholder="Código do Banco" type="tel">
                    <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="NomeBanco">Nome</label>
                    <input asp-for="NomeBanco" aria-describedby="NomeBanco" class="form-control" placeholder="Nome do Banco">
                    <span asp-validation-for="NomeBanco" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="Ativo">Situação</label>
                    <div class="custom-control custom-checkbox">
                        <input asp-for="Ativo" class="custom-control-input">
                        <label class="custom-control-label" for="Ativo">Ativo</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="file">Arquivo de Configuração do Boleto</label>
                <button class="btn btn-primary btn-block primary-bg js-selecionar" for="file">Selecionar arquivo...</button>
                <div class="custom-file hidden">
                    <input type="file" class="custom-file-input" id="file" name="file">
                    <label class="custom-file-label m-b-0" for="file">Adicionar arquivo...</label>
                </div>
            </div>
            <div class="col-6 lista-arquivos-container">
                <ul class="lista-arquivos">
                    <li>
                        <a href="#" title="Excluir arquivo" class="float-right hidden">
                            <i class="far fa-trash-alt"></i>
                        </a>
                        <i class="far fa-file"></i>
                        <a href="@(!Model.PossuiArquivo ? "#" : Url.Action("DownloadArquivo", "Banco", new { id = Model.Id }))" title="Baixar arquivo">
                            @(!Model.PossuiArquivo ? Html.Raw("Nenhum arquivo selecionado") : Html.Raw(Model.NomeArquivo))
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @if (User.HasPermission(ClaimConstants.REPRESENTANTE_ESCRITA))
    {
        <footer class="col-12">
            <button type="submit" class="btn btn-success">
                Salvar
                <i class="fas fa-save"></i>
            </button>
        </footer>
    }
</form>


<script type="text/template" id="templateFile">
    <li>
        <i class="far fa-file"></i>
        {{filename}}
    </li>
</script>