﻿@model HappyMeet.Models.BancoPresentationViewModel
@using HappyMeet.Domain.Util;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Bancos";
}
@section scripts {
    <script>
        var searchUrl = '@Url.Action("Index", "Banco")';
    </script>
}
<div class="row">
    <div class="col">

        @if (User.HasPermission(ClaimConstants.BANCO_ESCRITA))
        {
            <a asp-controller="Banco" asp-action="CreateEdit" class="list-inline-item float-right btn btn-success primary-bg">
                Adicionar novo
                <i class="fas fa-plus"></i>
            </a>
        }
        <h2 class="font-light list-inline-item">Bancos</h2>
        <div class="dropdown dropdown-toggle-filtros list-inline-item t-y-m4">
            <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtrar
            </button>
            <div class="dropdown-menu dropdown-filtros-menu" aria-labelledby="dropdownMenuButton">
                <form>
                    <div class="form-group">
                        <label for="searchCodBanco">Código do Banco:</label>
                        <input type="number" class="form-control form-control-sm" name="searchCodBanco" id="searchCodBanco" placeholder="Código do Banco">
                    </div>
                    <div class="form-group">
                        <label for="searchNome">Nome:</label>
                        <input type="text" class="form-control form-control-sm" name="searchNome" id="searchNome" placeholder="Nome">
                    </div>
                    <div class="button-submit full-width">
                        <button type="submit" class="btn btn-primary btn-sm btn-block primary-bg">Filtrar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive m-t-15">
            <table class="table table-striped table-hover table-lista">
                <thead class="thead-dark js-ajax-table-header">
                    <tr>
                        <th data-sort="Codigo">Cod. Banco</th>
                        <th data-sort="NomeBanco">Nome</th>
                        <th class="text-right">Ações</th>
                    </tr>
                </thead>
                <tbody class="js-ajax-table">
                    @for (var i = 0; i < Model.Bancos.Length; i++)
                    {
                        <tr>
                            <td class="align-middle">@Model.Bancos[i].Codigo.ToString().PadLeft(3, '0')</td>
                            <td class="align-middle">@Html.DisplayFor(x => x.Bancos[i].NomeBanco)</td>

                            <td class="text-right align-middle">
                                <a asp-controller="Banco" asp-action="CreateEdit" asp-route-id="@Model.Bancos[i].Id" class="btn btn-default btn-sm">
                                    @(User.HasPermission(ClaimConstants.BANCO_ESCRITA) ? "Editar" : "Detalhar")
                                    <i class="far fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <nav id="pagination">
            @Html.PagedListPager(Model.BancosPaged, page => Url.Action("Index", new { pagina = page }), new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 10 })
        </nav>
    </div>
</div>

@{await Html.RenderPartialAsync("_OrderTemplatePartial");}