﻿@{
    Layout = "_Blank";
}

    <script>
        document.body.className += 'text-center is-access-denied';
    </script>

    <div class="main-div-access-denied">
        <i class="fas fa-times icon-denied"></i>
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-4 m-t-0 font-weight-light">Acesso Negado</h1>
        <p>Você não tem permissão para acessar esta página</p>

        <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-secondary btn-block m-t-25">Voltar para o início</a>
    </div>