﻿@model HappyMeet.Models.ForgotPasswordViewModel
@inject AppConfig Config
@{
    ViewData["Title"] = "Esqueci minha senha";
    Layout = "_Blank";
}

@section scripts {
    <environment include="Development">
        <script src="~/js/bundles/Account/ForgotPassword.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/bundles/Account/ForgotPassword.min.js" asp-append-version="true"></script>
    </environment>
}

<script>
    document.body.className += 'text-center is-login';
    document.body.style.backgroundImage = 'url("@Html.Raw(Config.ImageFundoBase64)")';
    var getHiddenEmailUrl = "@Url.Action("GetHiddenEmail")"
</script>

<form asp-action="ForgotPassword" method="post" class="form-resetpassword">
    <h1 class="h3 mb-4 m-t-0 font-weight-light">@ViewData["Title"]</h1>
    <div asp-validation-summary="All"></div>
    <label for="UserName" class="sr-only">Usuário</label>
    <input asp-for="UserName" class="form-control form-control-lg form-input-first" placeholder="Digite seu CPF/CNPJ/Usuário" required autofocus>
    <label for="Email" class="sr-only">Email</label>
    <input asp-for="Email" class="form-control form-control-lg form-input-last" placeholder="Digite seu email" required>
    <small><label class="text-warning hidden" id="email-warning"><i class="fas fa-exclamation-triangle"></i> É necessário digitar o email completo, sem o asterísco (*)</label></small>
    <button class="btn btn-lg btn-primary primary-bg btn-block m-t-15" id="prosseguir" type="submit">Prosseguir</button>
</form>