﻿@model HappyMeet.Models.ForgotPasswordViewModel
@inject AppConfig Config
@{
    ViewData["Title"] = "Esqueci minha senha";
    Layout = "_Blank";
}

<script>
        document.body.className += 'text-center is-login';
        document.body.style.backgroundImage = 'url("@Html.Raw(Config.ImageFundoBase64)")';
</script>

<div class="form-resetpassword">
    <h3 class="h3 mb-4 m-t-0 font-weight-light">Por favor, verifique seu email para concluir a alteração de senha.</h3>
    <div class="m-t-5 m-b-15">
        <a class="link-forget-password" href="@Url.Action("Login")">
            <small>Retornar ao Login</small>
        </a>
    </div>
</div>

