﻿@model HappyMeet.Models.LoginViewModel
@using System.Reflection;
@using HappyMeet.Utils;
@inject AppConfig Config

@{
    ViewData["Title"] = "Login";
    Layout = "_Blank";
}

@section scripts {

    <environment include="Development">
        <script src="~/js/bundles/Account/Login.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/bundles/Account/Login.min.js" asp-append-version="true"></script>
    </environment>
}

    <script>
        document.body.className += 'text-center is-login';
        document.body.style.backgroundImage = 'url("@Html.Raw(Config.ImageFundoBase64)")';
    </script>

    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-signin">
        
        <div class="row">
            <div class="col-8 portal-header">
                <h1 class="h2 m-b-0 m-t-0 font-weight-light">Portal de Boletos</h1>
            </div>
            <div class="col-4 text-right">
                <img src="~/images/default/login-barcode.png" alt="">
            </div>
        </div>

        <div asp-validation-summary="All"></div>

        <label for="UserName" class="sr-only">Usuário</label>
        <input type="text" asp-for="UserName" class="form-control form-control-lg user" placeholder="CPF/CNPJ/Usuário" required autofocus>
        <label for="Password" class="sr-only">Senha</label>
        <input type="password" asp-for="Password" class="form-control form-control-lg" placeholder="Senha" required>

        <button class="btn btn-lg btn-primary btn-block primary-bg m-t-15" id="logar" type="submit">Prosseguir</button>
        <div class="m-t-5 m-b-15">
            <a class="link-forget-password" href="@Url.Action("ForgotPassword")">
                <small>Esqueci minha senha</small>
            </a>
        </div>

        <footer>
            Desenvolvido por B3 Gestão e Tecnologia – Versão @Assembly.GetEntryAssembly().GetVersion()
        </footer>
    </form>