﻿@model HappyMeet.Models.ResetPasswordViewModel
@inject AppConfig Config
@{
    Layout = "_Blank";
    ViewData["Title"] = "Alterar minha Senha";
}

<script>
        document.body.className += 'text-center is-reset-password';
        document.body.style.backgroundImage = 'url("@Html.Raw(Config.ImageFundoBase64)")';
</script>

<form asp-action="ResetPassword" method="post" class="form-resetpassword">
    <div asp-validation-summary="All"></div>
    @Html.HiddenFor(x => x.UserId)
    @Html.HiddenFor(x => x.Code)

    <h1 class="h3 mb-4 m-t-0 font-weight-light">@ViewData["Title"]</h1>
    <label for="Senha" class="sr-only">Senha</label>
    <input type="password" asp-for="Senha" class="form-control form-control-lg senha1" placeholder="Senha" required autofocus>
    <label for="RepetirSenha" class="sr-only">Repetir Senha</label>
    <input type="password" asp-for="RepetirSenha" class="form-control form-control-lg senha2" placeholder="Repetir Senha" required>

    <button class="btn btn-lg btn-primary btn-block m-t-15" type="submit">Prosseguir</button>
</form>