﻿@model HappyMeet.Models.ConfiguracaoViewModel
@{
    Layout = "_Blank";
    ViewData["Title"] = "Configurações da aplicação";
}

@section scripts {

    <environment include="Development">
        <script src="~/js/bundles/Configuracao/Index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/bundles/Configuracao/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<script>
    document.documentElement.classList.add('is-setup')
</script>
<form asp-action="Index" class="form" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.Id)
    <div class="grid-setup">
        <div asp-validation-summary="ModelOnly"></div>
        <aside>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <h2 class="font-light">Configurações do projeto</h2>
                    </div>
                    <div class="col-6 text-right">
                        <img src="~/images/logo-b3-white.png" alt="">
                    </div>
                </div>
            </div>
        </aside>
        <main>
            <section class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h4>Aplicação</h4>
                    </div>
                    <div class="col-lg-6">
                        <label for="NomeCliente">Cliente</label>
                        <br>
                        <input asp-for="NomeCliente" class="form-control form-control-lg" placeholder="Ex.: Malharia, Branco, etc..." autofocus="">
                        <br>
                        <span asp-validation-for="NomeCliente" class="text-danger"></span>
                    </div>
                </div>
            </section>
            <section class="container-fluid m-t-30">
                <div class="row">
                    <div class="col-12">
                        <h4>Estilo</h4>
                    </div>
                    <div class="col-md-3">
                        <label for="CorPrimaria">Cor Primária</label>
                        <br>
                        <input type="color" class="form-control" asp-for="CorPrimaria">
                    </div>
                    <div class="col-md-3">
                        <label for="CorSecundaria">Cor Secundária</label>
                        <br>
                        <input type="color" class="form-control" asp-for="CorSecundaria">
                    </div>
                    <div class="col-md-3">
                        <label for="CorFonte">Cor da Fonte <small>(cabeçalhos de tabela)</small></label>
                        <input type="color" class="form-control" asp-for="CorFonte">
                    </div>
                    <div class="col-md-3">
                        <div style="margin-top:38px">
                            <button id="btn-restaurar" type="button" class="btn btn-primary align-text-bottom">Restaurar Padrões</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid m-t-30">
                <div class="row">
                    <div class="col-12">
                        <h4>Imagens</h4>
                    </div>
                    <div class="col-6">
                        <label for="logo">Logo (preferencialmente .png)</label>
                        <br>
                        <div class="hidden" id="logo-preview"></div>
                        <input type="file" class="form-control" id="logo" name="logo" accept="image/*">
                    </div>
                    <div class="col-6">
                        <label for="fundo">Imagem de fundo (login)</label>
                        <input type="file" class="form-control" id="fundo" name="fundo" accept="image/*">
                    </div>
                </div>
            </section>

            <section class="container-fluid m-t-30">
                <div class="row">
                    <div class="col-12">
                        <h4>Conexões</h4>
                    </div>
                    <div class="col-md-4">
                        <label for="EmailSmtp">Endereço SMTP</label>
                        <br>
                        <input asp-for="EmailSmtp" class="form-control" placeholder="Ex.: smtp.seuservidor.com.br">
                    </div>
                    <div class="col-md-4">
                        <label for="EmailFrom">Email e porta para envio SMTP</label>
                        <br>
                        <div class="form-row">
                            <div class="col-8">
                                <input type="email" asp-for="EmailFrom" class="form-control" placeholder="seu@email.com.br">
                            </div>
                            <div class="col">
                                <input type="text" asp-for="EmailPort" class="form-control" placeholder="Ex.: 22">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="EmailUsername">Usuário e senha</label>
                        <div class="form-row">
                            <div class="col-6"><input type="text" asp-for="EmailUsername" class="form-control" placeholder="Usuário"></div>
                            <div class="col-6"><input type="password" asp-for="EmailPassword" class="form-control" placeholder="Senha"></div>
                        </div>
                    </div>
                    <div class="col-12 m-t-5">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="EmailEnableSsl" class="custom-control-input">
                            <label class="custom-control-label" for="EmailEnableSsl">SSL para o email</label>
                        </div>
                    </div>
                </div>
            </section>

            <section class="container-fluid m-t-30">
                <div class="row">
                    <div class="col-12">
                        <h4>Envio de Emails</h4>
                    </div>

                    <div class="col-md-3 m-t-5">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="EnviaEmailBoleto" class="custom-control-input">
                            <label class="custom-control-label" for="EnviaEmailBoleto">Envia boletos por email?</label>
                        </div>
                    </div>
                    <div class="col-md-4 m-t-5">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="EnviaApenasClienteParametrizado" class="custom-control-input">
                            <label class="custom-control-label" for="EnviaApenasClienteParametrizado">Envia boletos apenas para clientes parametrizados?</label>
                        </div>
                    </div>
                </div>
            </section>

            <section class="container-fluid m-t-30">
                <div class="row">
                    <div class="col-12">
                        <h4>Dados de Contato</h4>
                    </div>
                    <div class="col-md-4">
                        <label for="EmailContato">Email</label>
                        <br>
                        <input type="email" asp-for="EmailContato" class="form-control" placeholder="Ex.: suporte@email.com.br">
                    </div>
                    <div class="col-md-6">
                        <label for="TelefoneContato">Telefone e Ramal</label>
                        <div class="form-row">
                            <div class="col-6"><input type="text" asp-for="TelefoneContato" class="form-control" placeholder="Ex.: (00) 0 0000-0000"></div>
                            <div class="col-3"><input type="text" asp-for="RamalContato" class="form-control" placeholder="Ramal"></div>
                        </div>
                    </div>
                </div>
            </section>
            @*
        <section class="container-fluid m-t-30">
            <div class="row">
                <div class="col-12">
                    <h4>Parâmetros do sistema</h4>
                </div>
                <div class="col-md-3">
                    <label for="UnidadeMedida">Unidade de Medida</label>
                    <select class="form-control" id="UnidadeMedida">
                        <option>Quilos</option>
                        <option>Sacas</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="CorPrimaria">Quantidade Mínima de carga</label>
                    <br>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ex.: 300" aria-label="Ex.: 300" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text js-unidade-medida">Quilos</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="CorPrimaria">Quantidade Máxima de carga</label>
                    <br>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ex.: 300" aria-label="Ex.: 300" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text js-unidade-medida">Quilos</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="CorPrimaria">Atraso permitido para agendamento</label>
                    <br>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ex.: 300" aria-label="Ex.: 300" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text">Minutos</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-t-15">
                <div class="col-md-3">
                    <label for="CorPrimaria">Link para a aplicação de relatório</label>
                    <br>
                    <input type="text" class="form-control" value="http://">
                </div>
                <div class="col-md-3">
                    <label for="CorPrimaria">Horário de abertura das janelas</label>
                    <br>
                    <input type="time" class="form-control" placeholder="06:00" value="08:30">
                </div>
                <div class="col-md-3">
                    <label for="CorPrimaria">Login zEnvia (SMS)</label>
                    <br>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="CorPrimaria">Senha zEnvia (SMS)</label>
                    <br>
                    <input type="password" class="form-control">
                </div>

            </div>
        </section>

        <section class="container-fluid m-t-30">
            <div class="row">
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check1">
                        <label class="form-check-label" for="check1">
                            Permite agendamento com motorista sem CPF
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="check2">
                        <label class="form-check-label" for="check2">
                            Permite cadastro de motorista sem CNH
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked="" value="" id="check3">
                        <label class="form-check-label" for="check3">
                            Cadastro de veículo simplificado
                        </label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked="" value="" id="check4">
                        <label class="form-check-label" for="check4">
                            Cadastro de motorista simplificado
                        </label>
                    </div>
                </div>

            </div>
        </section>
            *@
        </main>
    </div>
    <button type="submit" class="btn btn-success btn-lg concluir">Concluir</button>
</form>