﻿@inject AppConfig Config
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico">
    <title>@ViewData["Title"]  – @Config.NomeCliente – B3 Boletos</title>
    @{await Html.RenderPartialAsync("_CssVarsPartial");}
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/selectize/dist/css/selectize.css" />
        <link rel="stylesheet" href="~/css/views/_helpers.css" />
        <link rel="stylesheet" href="~/css/views/cliente.css" />
        <link rel="stylesheet" href="~/css/views/template.css" />
        <link rel="stylesheet" href="~/css/views/boletos.css" />
        <link rel="stylesheet" href="~/css/views/banco.css" />
        <link rel="stylesheet" href="~/css/views/login.css" />
        <link rel="stylesheet" href="~/css/views/configuracao.css" />
        <link rel="stylesheet" href="~/css/views/accessdenied.css" />
        <link rel="stylesheet" href="~/css/views/resetpassword.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @{
        var alerts = TempData.ContainsKey(Alert.TempDataKey)
                    ? TempData.Get<List<Alert>>(Alert.TempDataKey)
                    : new List<Alert>();
        foreach (var alert in alerts)
        {
            var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;
            <div class="alert alert-@alert.AlertStyle alert-dismissible fade show" role="alert">
                @Html.Raw(alert.Message)
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
    @RenderBody()
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
        <script src="~/lib/fontawesome/fontawesome-all.min.js"></script>
        <script src="~/lib/selectize/dist/js/standalone/selectize.js"></script>
        <script src="~/lib/jquery-mask/dist/jquery.mask.js"></script>
        <script src="~/lib/jquery-cookie/jquery.cookie.js"></script>
        <script src="~/lib/flatpickr/flatpickr.min.js"></script>
        <script src="~/lib/sweetalert/sweetalert2.all.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/js/plugins.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T">
        </script>
        <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
                integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
                asp-fallback-src="~/lib/fontawesome/fontawesome-all.min.js"
                asp-fallback-test="window.FontAwesome"
                crossorigin="anonymous">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    <script type="text/template" id="loadingTemplate">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </script>
</body>
</html>
