﻿<script type="text/template" id="templateOrder">
    <input class="js-order js-order-down hidden" type="radio" name="sortOrder" value="OrderByDescending" {{descendingChecked}}>
    <input class="js-order js-order-up hidden" type="radio" name="sortOrder" value="OrderBy" {{ascendingChecked}}>
    <div class="arrows">
        <div class="js-none"><i class="fas fa-arrows-alt-v"></i></div>
        <div class="js-up"><i class="fas fa-arrow-up"></i></div>
        <div class="js-down"><i class="fas fa-arrow-down"></i></div>
    </div>
</script>