﻿.svg-inline--fa {
    vertical-align: -.125em !important;
}

[data-href]{
    cursor:pointer;
}

.body-container {
    --sidebar-width: 69px;
    --sidebar-color: #333333;
    min-height:100vh;
    display:grid;
    grid-template-columns: 1fr;
    background: #e6e6e6;
    padding-left: var(--sidebar-width);
}

.body-content {
    padding-bottom: 95px;
    padding-top: calc( var(--sidebar-width) + 35px);
    position: relative;
}

.body-content.not-form {
    padding-bottom: 35px;
}

.body-content > .row {
    margin-left: 20px;
    margin-right: 20px;
}

.body-content .row-header {
    width:calc(100% - var(--sidebar-width));
    margin-left:-15px;
    margin-right: -15px;
    position: fixed;
    top:0;
    z-index:30;
    background:rgba(230,230,230,0.5);
}

.body-content .container-row-header {
    display: grid;
    grid-template-columns: auto 1fr;
}

.body-content .container-row-header .acessos {
    text-align: right;
    align-self: center;
}

.body-content .logo-client {
    background:#f1f1f1;
    height:var(--sidebar-width);
    line-height: calc(var(--sidebar-width) - 3px);
    display: inline-block;
    transform: translateX(-15px);
    padding-left:15px;
    padding-right: 15px;
}

.body-content .logo-client img {
    max-width:200px;
    max-height:var(--sidebar-width);
    padding-bottom: 5px;
    padding-top: 5px;
}

.main-navigation {
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    z-index:200;
    background: var(--sidebar-color);
    box-shadow:0 0 69px rgba(0,0,0,0.2);
    left: 0;
}

.main-navigation .nav-logo {
    height:69px;
    display: block;
    background:url('../images/logo.png') no-repeat center white;
    text-indent: -9999px;
}

.main-navigation .nav-logo:active {
    background-color:#f1f1f1;
}

.main-navigation .nav-menu {
    margin:0;
    padding:0;
    list-style: none;
}

.main-navigation .nav-menu li {
    border-bottom:1px solid #515151;
    text-align: center;
    font-size:1.3rem;
    display: block;
}

.main-navigation .nav-menu a {
    color:#ccc;
    display: block;
    padding: 1rem 0;
}

.main-navigation .nav-menu a:hover {
    background:rgba(0,0,0,0.2);
}

.main-navigation .nav-menu a:active {
    background:rgba(0,0,0,0.4);
}

.form-default {
    position: relative;
}

.form-default > footer {
    text-align: right;
    position: fixed;
    width:calc(100vw - var(--sidebar-width));
    bottom:0;
    left: var(--sidebar-width);
    padding-right:50px;
    padding: 10px 50px 10px 0;
}

.empty-container {
    border:2px dashed rgba(0,0,0,0.1);
    padding:15px;
    text-align: center;
    border-radius:3px;
}

.dropdown-toggle-filtros.show > .btn,
.dropdown-toggle-filtros.show > .btn:focus {
    background-color:white;
    border-color:white;
    border-left-top-radius:3px;
    border-left-bottom-radius:3px;
}

.dropdown-toggle-filtros.show .dropdown-menu {
    border-top-left-radius: 0;
    margin-top:-3px;
}

.dropdown-filtros-menu {
    width:550px;
    margin:0;
    padding:0;
    box-shadow: 0 19px 24px rgba(0,0,0,0.2);
    border:none;
}

.dropdown-filtros-menu .form-control {
    background:#e6e6e6;
}

.dropdown-filtros-menu form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:20px;
    grid-row-gap: 5px;
    padding:15px 20px 22px;
}


.dropdown-filtros-menu label {
    font-size:13px;
}

.dropdown-filtros-menu .form-group {
    margin-bottom: 0;
    position: relative;
}

.dropdown-filtros-menu .button-submit {
    align-self: self-end;
}

.dropdown-filtros-menu .button-submit.full-width {
    margin-top: 5px;
    grid-column: 1/3;
}

.form-group .with-icon {
    position: relative;
}

.form-group .with-icon svg {
    font-size:.7rem;
    position: absolute;
    right:15px;
    top:50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.form-group .with-icon .js-clear {
    right:35px;
    opacity:0.6;
    cursor:pointer;
    pointer-events: auto;
}

.table-lista {
    border-collapse:separate;
    border-spacing:0;
    font-size:13px;
}

.table-lista .thead-dark th {
    background-color: var(--corSecundaria) !important;
    color:white;
    color: var(--corFonte);
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;    
}

.table-lista.table-lista-large tbody td {
    padding-top: 15px;
    padding-bottom: 15px;
}


@media screen and (max-height:666px){

    .table-lista {
        font-size:12px;
    }

    .table-lista .thead-dark th {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .table-lista.table-lista-large tbody td {
        padding-top: 12px;
        padding-bottom: 12px;
    }

}

.table-lista tbody tr:nth-child(even) {
    background:white;
}

.table-lista tbody tr:nth-child(odd) {
    background:#f8f8f8;
}

.table-lista .checkbox-column {
    width:25px;
    padding-right: 0;
}

.table-lista .thead-dark th:first-child {
    border-bottom-left-radius: 0;
}

.table-lista .thead-dark th:last-child {
    border-bottom-right-radius: 0;
}

.table-lista thead tr th,
.table-lista tbody tr td {
    border-top:none;
    border-bottom: none;
}

.table-lista thead tr th:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.table-lista thead tr th:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.table-lista tbody tr + tr > td {
    border-top:1px solid #e4e4e4;
}

/* loading animation */

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.btn.is-loading-js {
    position: relative;
    text-indent: -9999px;
}

.btn.is-loading-js .spinner {
    margin:0;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate3d(-50%, -50%, 0);
    text-indent: 0;
}

.btn.btn-lg .spinner > div {
    width:13px;
    height:13px;
}

.table-responsive.is-loading-table tbody {
    opacity:0.4;
    pointer-events: none;
}

.table-responsive .spinner {
    position: absolute;
    left:50%;
    top:150px;
    transform: translate3d(-50%, 0, 0);
}

/* validation */
.validation-summary-errors {
    display: block;
    background: rgba(255,255,255,0.5);
    border:1px solid var(--danger);
    color: var(--danger);
    border-radius:5px;
    padding:0;
    margin:0;
}

.validation-summary-errors ul {
    margin:0 0 0 35px;
    padding:15px 0;
}

/* bootstrap overwrites */

.form-control {
    border-color: transparent;
}

.custom-control-label::before {
    background-color:white;
}

.table-bordered th, .table-bordered td,
.table thead th {
    border-color:#adadad;
}

.gray-checkbox .custom-control-label:before {
    background:#d2d2d2;
}

.btn .spinner > div {
    background-color:white;
}

.btn-default {
    color:var(--corPrimaria);
}

.page-link {
    color:var(--corSecundaria);
}

.page-item.active .page-link {
    background-color:var(--corSecundaria);
    border-color:var(--corSecundaria);
}

/* css variables & bootstrap overrides */
.primary-color { color: var(--corPrimaria); }
.primary-bg    { background-color: var(--corPrimaria); }
.btn.primary-bg { border-color: var(--corPrimaria); }
a.primary-bg:hover,
.btn.primary-bg:hover { background-color: var(--corPrimariaHover); }
a.primary-bg:active,
.btn.primary-bg:active,
.dropdown-item.active, .dropdown-item:active
 { background-color: var(--corPrimariaActive) !important; }


.secondary-color { color: var(--corSecundaria); }
.secondary-bg    { background-color: var(--corSecundaria); }


.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--corPrimaria);
}

/* selectize modal */

.modal .selectize-control {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.modal .selectize-input {
    background:#e2e2e2;
}

/* order */
.js-order + .arrows {
    display: inline-block;
}

.js-order:not(:checked) + .js-order:not(:checked) + .arrows .js-up,
.js-order:not(:checked) + .js-order:not(:checked) + .arrows .js-down,
.js-order-down:checked ~ .arrows .js-up, 
.js-order-up:checked ~ .arrows .js-down,
.js-order:checked ~ .arrows .js-none {
    display:none;
}

.js-order-down:checked ~ .arrows .js-down,
.js-order-up:checked ~ .arrows .js-up {
    display:inline-block;
}
.calendario {
    overflow: initial !important;
}
.acessos > button{
    float: right;
}
#open-modal-contato {
    text-decoration: none;
    padding: 0 10px;
    color: #6c757d;
    display: inline-block;
    line-height: 1;
    font-size: 41px;
    float: right;
    margin-top: -3px;
}
#open-modal-contato:hover {
    color: #fff;
}

.ultima-atualizacao {
    font-size: 70%;
    font-weight: 400;
    font-style: italic;
    text-align: right;
    margin-bottom: 10px;
}