﻿.font-light {
    font-weight: 300;
}

.btn-round {
	font-size:1.3em;
	line-height: 1;
	background:white;
	border-radius:50%;
	margin:0;
	display: inline-block;
}

.btn-round.success {
	color: var(--teal);
}

.btn-round.success:active {
	color: #14ad80;
}

.btn-round.danger {
	color: var(--red);
}

.btn-round.danger:active {
	color:#c72635;
}

/* margin */
.m-0 { 
	margin: 0  !important; 
}

.m-t-0  { margin-top: 0 !important; }
.m-t-5  { margin-top: 5px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-t-15 { margin-top: 15px !important; }
.m-t-30 { margin-top: 30px !important; }

.m-b-0 { margin-bottom: 0 !important; }
.m-b-5 { margin-bottom: 5px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-b-15 { margin-bottom: 15px !important; }
.m-b-30 { margin-bottom: 30px !important; }

.m-r-0 { margin-right: 0 !important; }
.m-r-5 { margin-right: 5px !important; }
.m-r-10 { margin-right: 10px !important; }
.m-r-15 { margin-right: 15px !important; }
.m-r-30 { margin-right: 30px !important; }

/* padding */

.p-l-0 { padding-left: 0; }
.p-r-0 { padding-right: 0; }

/* translate */
.t-y-m1 { transform: translateY(-1px); }
.t-y-m2 { transform: translateY(-2px); }
.t-y-m3 { transform: translateY(-3px); }
.t-y-m4 { transform: translateY(-4px); }
.t-y-m5 { transform: translateY(-5px); }
.t-y-1  { transform: translateY(1px); }
.t-y-2  { transform: translateY(2px); }
.t-y-3  { transform: translateY(3px); }
.t-y-4  { transform: translateY(4px); }
.t-y-5  { transform: translateY(5px); }
.t-y-6  { transform: translateY(6px); }
.t-y-7  { transform: translateY(7px); }
.t-y-8  { transform: translateY(8px); }
.t-y-9  { transform: translateY(9px); }
.t-y-10  { transform: translateY(10px); }

/* visibility */

.hidden { display: none !important; }

/* colors */
.c-white { color:white; }