﻿html,
body.is-access-denied {
  height: 100%;
}

.is-access-denied {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background:#ececec;
}

.main-div-access-denied {
  width: 100%;
  max-width: 490px;
  padding: 35px 50px;
  margin: auto;
  background:white;
  box-shadow:0 10px 40px rgba(0,0,0,0.3);
  border-radius:5px;
}

.main-div-access-denied .icon-denied {
  font-size:3rem;
  color: var(--danger);
}