﻿.lista-arquivos-container {
	align-self:flex-end;
}

.lista-arquivos {
	list-style: none;
	margin:0;
	padding:0;
}

.lista-arquivos li {
	border:2px dashed rgba(0,0,0,0.2);
	border-radius:3px;
	padding:5px 12px;
	display: block;
	font-weight: bold;
}

.lista-arquivos li svg {
	margin-right: 10px;
}