﻿.boletos-balanco {
	--button-width: 70px;
	display: grid;
	grid-template-columns: repeat(3, 1fr) repeat(2, var(--button-width));
	grid-column-gap: 20px;
	margin-bottom: 20px;
	font-size:1.2em;
}

.boletos-balanco > div {
	background:white;
	border-radius:4px;
	font-weight: 300;
	display:grid;
	grid-template-columns: auto 1fr;
	padding-left: 20px;
	padding-right: 20px;
}

.boletos-balanco > button[disabled]{
	cursor: auto;
}

.boletos-balanco > button {
	cursor:pointer;
	border:none;
	height: var(--button-width);
	line-height: var(--button-width);
	text-align: center;
	font-size:1.5em;
	color:white;
	border-radius:4px;
}

.boletos-balanco .valor {
	text-align: right;
	line-height: var(--button-width);
}

.boletos-balanco .valor .money,
.table-boletos .valor .money {
	opacity:0.6;
	font-size:75%;
}

.boletos-balanco .main-label {
	line-height: var(--button-width);
}

.boletos-balanco .main-label.geral {
	box-shadow: inset 0 4px 0 var(--yellow);
}

.boletos-balanco .main-label.hoje {
	box-shadow: inset 0 4px 0 var(--teal);
}

.boletos-balanco .main-label.atraso {
	box-shadow: inset 0 4px 0 var(--red);
}

.boletos-balanco .is-danger {
	color: var(--red);
}

.table-boletos tbody td {
	line-height: 1;
}

.table-boletos .valor .money {
	font-size: 75%;
}

.boletos-header {
	background:#e6e6e6;
	z-index:22;
	position: relative;
}

.boletos-background-fix {
	background:#e6e6e6;
	z-index:21;
	width:100%;
	height:105px;
	position: fixed;
	left:0;
	top:0;
}

.boletos-footer {
	background:white;
	border:1px solid #ccc;
	border-bottom: none;
	position: fixed;
	bottom:0;
	left:98px;
	width:calc(100% - 167px);
	transform:translateY(100%);
	opacity:0;
	transition: all .2s ease;
}

.boletos-footer.is-visible {
	transform: translateY(0);
	opacity:1;
}

.boletos-details .money {
	opacity:0.6;
}