﻿.lista-envios-email section {
	margin-top: 25px;
}

.lista-envios-email section > .btn-round {
	margin-top: 7px;
}

.lista-envios-email .lista-emails {
	list-style: none;
	margin:0;
	padding:0;
}

.lista-envios-email .lista-emails li {
	display: grid;
	grid-template-columns: 47px 1fr 27px;
	grid-column-gap: 10px;
}

.lista-envios-email .lista-emails li + li {
	margin-top:10px;
}

.lista-envios-email .lista-emails li .button-container {
	align-self: center;
	text-align: right;
}

.lista-cnpjs {
	list-style: none;
	margin:10px 0 0 0;
	padding:0;
}

.lista-cnpjs li {
	display: grid;
	grid-template-columns: 182px 1fr 27px;
	grid-column-gap: 10px;
}

.lista-cnpjs li + li {
	margin-top:10px;
}

.lista-cnpjs li .button-container {
	align-self: center;
	text-align: center;
}

/* bug LOKO do selectize duplicando os valores */
.selectize-email + .selectize-control .name,
.selectize-email + .selectize-control .selectize-dropdown-content .label {
	display: none;
}