.is-setup {
	background:#e0dede;
	margin:120px;
	height:100vh;
	overflow: hidden;
}

.is-setup body {
	background:transparent;
}

.is-setup .form-control {
	border-color: #ced4da;
}

.grid-setup {
	display: grid;
	grid-template-rows: 100px 1fr;
	height:calc(100vh - 240px);
	background:white;
	border-radius:9px;
	overflow: hidden;
	box-shadow: 0 0 40px rgba(0,0,0,0.2);
}

.grid-setup > * {
	padding:30px;
}

.grid-setup > main {
	overflow: auto;
	font-size:12px;
}

.is-setup aside {
	background:#333;
	color:white;
}

.is-setup aside img {
	display: block;
	height:auto;
	width:100px;
	float: right;
}

.is-setup input[type=color]{
	height:66px;
}

.is-setup .concluir {
	position: absolute;
	bottom:50px;
	right:120px;
}

.is-setup main label:not(.custom-control-label) {
	opacity:0.7;
	margin-bottom:.4rem;
}

.is-setup label.custom-control-label {
	line-height: 2;
}