﻿#event-modal .form-control {
    border: 1px solid #b5b5b5;
}
#event-modal #cancel {
    color: #5B5B5B;
}
.calendario.calendar .calendar-header table {
    background: var(--corSecundaria);
}
.calendario.calendar .year-neighbor {
    color: #fff;
    opacity: .6;
}
.calendario.calendar .year-neighbor2 {
    color: #fff;
    opacity: .3;
}
.calendario.calendar .year-neighbor:hover, .calendario.calendar .year-neighbor2:hover {
    opacity: 1;
}
.calendario.calendar .months-container {
    background: #fff;
    border: 1px solid #d4d4d4;
    padding: 20px 10px;
}
.calendario.calendar .month-container {
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;
    width: 25%;
    display: inline-block;
}
.calendario.calendar .month-container:nth-last-child(-n+4) {
    border-bottom: none;
}