﻿html,
body.is-login {
  height: 100%;
}

.is-login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url('/images/default/login-default.jpg') no-repeat center #f5f5f5;
  background-size:cover;
}

.form-signin {
  width: 100%;
  max-width: 490px;
  padding: 0 35px 15px;
  margin: auto;
  background:white;
  box-shadow:0 10px 40px rgba(0,0,0,0.3);
  border-radius:5px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding:10px;
  font-size: 16px;
  border-color:#CCC;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input.user {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .custom-control-label::before {
  background:#ccc;
}

.form-signin .options-bottom {
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin:15px 0;
}
.form-signin .esqueci-senha {
  text-align: right;
}
.form-signin .options-bottom .custom-control {
  text-align: left;
}
.form-signin .link-forget-password {
  text-align: right;
  color:#888;
}
.form-signin .portal-header {
  align-self:center;
  text-align: left;
}
.form-signin footer {
  color:#ccc;
  font-size:.7em;
}

.is-login .validation-summary-errors {
  margin:15px 0;
  text-align: left;
}

.is-login .form-input-first {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.is-login .form-input-last {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}