﻿html,
body.is-reset-password {
  height: 100%;
}

.is-reset-password {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f5f5f5;
  background-size:cover;
  background-position:center;
}

.form-resetpassword {
  width: 100%;
  max-width: 490px;
  padding: 35px 50px;
  margin: auto;
  background:white;
  box-shadow:0 10px 40px rgba(0,0,0,0.3);
  border-radius:5px;
}

.form-resetpassword .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding:10px;
  font-size: 16px;
  border-color:#CCC;
}
.form-resetpassword .form-control:focus {
  z-index: 2;
}
.form-resetpassword input.user {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-resetpassword .senha1 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}
.form-resetpassword .senha2 {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-resetpassword .custom-control-label::before {
  background:#ccc;
}

.form-resetpassword .options-bottom {
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin:15px 0;
}
.form-resetpassword .esqueci-senha {
  text-align: right;
}
.form-resetpassword .options-bottom .custom-control {
  text-align: left;
}